.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 35%;
}

.friend .g-avatar {
  width: 60px;
}

.friend__avatar .m-avatar {
  width: 55px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}

.friend .friend__now-listening {
  border: 2px solid rgb(141, 204, 255);
  padding: 5px 9px;
  border-radius: 14px;
  font-size: 14px;
}

.friend__now-listening span {
  opacity: 0.6;
}

.friend__now-listening i {
  font-size: 12px;
}

.friend__add-btn {
  display: flex;
  padding: 10px 11px;
  justify-content: center;
  align-items: center;
  background-color: #c9c8c8;
  border-radius: 5px;
}
